
.databricks
.vscode
node_modules
.env
.DS_Store
.idea
*.log
*.pyc   
__pycache__/
build/
dist/
*.egg-info/
coverage/
htmlcov/

.git
.venv
node_modules
frontend/node_modules
.databricks
.pytest_cache
**/__pycache__
**/*.pyc
.env
.vscode
.DS_Store
backend/static
tests/
*.md
.fake